body {
  transition: all 0.5s ease;
  text-align: center;
  padding-top: 6rem;
  font-family: Arial, sans-serif;
}

.control {
  margin: 1rem auto;
  width: 60%;
}

label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: bold;
}

input[type="range"] {
  width: 100%;
}

#salida {
  margin-top: 3rem;
  font-weight: bold;
}
